<nav class="glass-panel navbar animate__animated animate__fadeInDown">
    <a href="/" class="nav-brand">
        <i class="fa-solid fa-rocket"></i>
        <span>PartyAPI</span>
    </a>

    <ul class="nav-menu">
        <% if (user) { %>
            <li>
                <a href="/dashboard" class="nav-link">
                    <i class="fa-solid fa-gauge-high"></i>
                    <span>Dash</span>
                </a>
            </li>
            <!-- TOMBOL BARS BARU -->
            <li>
                <a href="/bars" class="nav-link" style="color: #facc15;">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>Bars</span>
                </a>
            </li>
            <!-- END TOMBOL BARS -->
            <li>
                <a href="/profile" class="nav-link">
                    <i class="fa-regular fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="/api/auth/logout" class="btn-logout">
                    <i class="fa-solid fa-power-off"></i>
                </a>
            </li>
        <% } else { %>
            <li>
                <a href="/login" class="nav-link">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Login</span>
                </a>
            </li>
            <li>
                <a href="/register" class="nav-link" style="color: var(--secondary);">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Join</span>
                </a>
            </li>
        <% } %>
    </ul>
</nav>